{% extends 'main/base.html' %}
{% load static %}
	<!--==============================content================================-->
    {% block content %}
    <section id="content">
            <div class="container_12">
            	<div class="p16">
                	<article class="grid_12">
                    	<div class="inner-block">
                            <h2 class="main_h2 p10 p14">about us</h2>
                        </div>
                        <article class="grid_4 alpha">
                        	<div class="inner-block">
                                <figure class="page2-img1"><img src="{% static 'images/page2-img1.jpg' %}" alt=""></figure>
                            </div>
                        </article>
                        <article class="grid_8 omega p33">
                        	<div class="inner-block">
                                <div class="page2-box1">
                                  <p class="p15">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                  <p class="p13">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                  <a class="button2" href="#">more</a>
                                </div>
                            </div>
                        </article>
                    </article>
                    <div class="clear"></div>
                </div>
                <div class="p17">
                	<article class="grid_6">
                    	<div class="inner-block">
                            <h2 class="main_h2">our awards</h2>
                              <div class="thumbs1">
                              <div class="page2-box2">
                              <figure class="page2-img2"><img src="{% static 'images/page2-img2.jpg' %}" alt=""></figure>
                              <div class="extra-wrap">
                                 <a class="link2" href="#">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </a>
                                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur mus. </p>
                              </div>
                              </div>
                              <div class="page2-box2">
                              <figure class="page2-img2"><img src="{% static 'images/page2-img3.jpg' %}" alt=""></figure>
                              <div class="extra-wrap">
                                <a class="link2" href="#">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. </a>
                                <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                              </div>
                              </div>
                              </div>
                        </div>
                    </article>
                    <article class="grid_5 prefix_1">
                    	<div class="inner-block">
                            <h2 class="main_h2">why choose us</h2>
                            <ul class="list2">
                            <li><a href="#">Fusce euismod consequat ante ipsum dolor sit.</a></li>
                            <li><a href="#">Amet, consectetuer adipiscing elit.</a></li>
                            <li><a href="#">Pellentesque sed dolor congue fermentum nisl. </a></li>
                            <li><a href="#">Mauris accumsan nulla vel diam. </a></li>
                            <li><a href="#">Sed in lacus ut enim adipiscing aliquet. </a></li>
                            <li><a href="#">Nulla venenatis. In pede mi, aliquet sit amet.</a></li>
                            <li><a href="#">Euismod in, auctor ut, ligula.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetue.</a></li>
                            <li><a href="#">Praesent vestibulum molestie lacus. </a></li>
                            <li><a href="#">Aenean nonummy hendrerit mauris.</a></li>
                            </ul>
                        </div>
                    </article>
                    <div class="clear"></div>
                </div>
                <div class="p32">
                	<article class="grid_12">
                    	<div class="inner-block">
                            <h2 class="main_h2">our staff</h2>
                        </div>
                        <article class="grid_3 alpha">
                        	<div class="inner-block">
                                <div class="page2-box3">
                                    <figure class="page2-img3"><img src="{% static 'images/page2-img4.jpg' %}" alt=""></figure>
                                    <a class="link2" href="#">Bradley Grosh</a>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc</p>
                                </div>
                            </div>
                        </article>
                        <article class="grid_3">
                        	<div class="inner-block">
                                <div class="page2-box3">
                                    <figure class="page2-img3"><img src="{% static 'images/page2-img5.jpg' %}" alt=""></figure>
                                    <a class="link2" href="#">Edna Barton</a>
                                    <p>Hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur mus. </p>
                                </div>
                            </div>
                        </article>
                        <article class="grid_3">
                        	<div class="inner-block">
                                <div class="page2-box3">
                                <figure class="page2-img3"><img src="{% static 'images/page2-img6.jpg' %}" alt=""></figure>
                                <a class="link2" href="#">Patrick Pool</a>
                                <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur mus. Nulla dui. </p>
                                </div>
                            </div>
                        </article>
                        <article class="grid_3 omega">
                        	<div class="inner-block">
                                <div class="page2-box3">
                                <figure class="page2-img3"><img src="{% static 'images/page2-img7.jpg' %}" alt=""></figure>
                                <a class="link2" href="#">Dayle Peters</a>
                                <p>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maece nas tristique orci ac sem. </p>
                                </div>
                            </div>
                        </article>
                    </article>
                    <div class="clear"></div>
                </div>
            </div>
    </section>
    
	<!--==============================footer=================================-->
{% endblock content %}