{% extends 'main/base.html' %}
{% load static %}
{% block content %}
          <div class="clear"></div>
            <div class='slider-bg'>
              <div class='container_12'>
                <article class="grid_12">
              <div class="inner-block">
                <div class='slider'>
                  <div class="camera_wrap camera_azure_skin" id="camera">
                      <div data-src="{% static 'images/slide-1.jpg' %}">
                                <div class="banner camera_caption fadeIn">
                                    <div class="banner-head">we provide:</div>
                                    <div class="banner-box">
                                    <p>Unde omnis iste natus errsit rem. Aperiam, eaque ipsa quae. Woluptatem accusan tium dolor massa astumosto rem aperiam, eaque ipsa quae ab illo inventore veri tatis et quasi architecto.</p>
                                    </div>
                                    <div class="button-box">
                                        <a class="button1" href="#">details</a>
                                        <a class="button1 p6" href="#">view all</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                      </div>
                      <div data-src="images/slide-2.jpg">
                                <div class="banner camera_caption fadeIn">
                                    <div class="banner-head">we provide:</div>
                                    <div class="banner-box">
                                      <p>Unde omnis iste natus errsit rem. Aperiam, eaque ipsa quae. Woluptatem accusan tium dolor massa astumosto rem aperiam, eaque ipsa quae ab illo inventore veri tatis et quasi architecto.</p>
                                      </div>
                                      <div class="button-box">
                                        <a class="button1" href="#">details</a>
                                        <a class="button1 p6" href="#">view all</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                      </div>
                      <div data-src="{% static 'images/slide-3.jpg' %}">
                                <div class="banner camera_caption fadeIn">
                                    <div class="banner-head">we provide:</div>
                                    <div class="banner-box">
                                      <p>Unde omnis iste natus errsit rem. Aperiam, eaque ipsa quae. Woluptatem accusan tium dolor massa astumosto rem aperiam, eaque ipsa quae ab illo inventore veri tatis et quasi architecto.</p>
                                      </div>
                                      <div class="button-box">
                                        <a class="button1" href="#">details</a>
                                        <a class="button1 p6" href="#">view all</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                      </div>
                      <div data-src="{% static 'images/slide-4.jpg' %}">
                                <div class="banner camera_caption fadeIn">
                                    <div class="banner-head">we provide:</div>
                                    <div class="banner-box">
                                      <p>Unde omnis iste natus errsit rem. Aperiam, eaque ipsa quae. Woluptatem accusan tium dolor massa astumosto rem aperiam, eaque ipsa quae ab illo inventore veri tatis et quasi architecto.</p>
                                      </div>
                                      <div class="button-box">
                                        <a class="button1" href="#">details</a>
                                        <a class="button1 p6" href="#">view all</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                      </div>
                    </div>
                    </div>
              </div>
                </article>
                <div class="clear"></div>
               </div>
            </div>
    </header>
    <section id="content">
            <div class="container_12">
                <div class="p8">
                    <article class="grid_12">
                    	<div class="inner-block">
                        <h2 class="main_h2 p10 p30">Featured Projects</h2>
                      </div>
                        <article class="grid_4 alpha">
                        	<div class="inner-block">
                            <div class="page1-box1">
                              <figure class="page1-img1"><img src="{% static 'images/page1-img1.jpg' %}" alt=""></figure>
                              <strong>corn traits</strong>
                               <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                               <a class="button2" href="#">more</a>
                               <div class="clear"></div>
                             </div>
                          </div>
                        </article>
                        <article class="grid_4">
                        	<div class="inner-block">
                            <div class="page1-box1">
                                <figure class="page1-img1"><img src="{% static 'images/page1-img2.jpg' %}" alt=""></figure>
                                <strong>red carrot</strong>
                                <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                                <a class="button2" href="#">more</a>
                                <div class="clear"></div>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                        	<div class="inner-block">
                            <div class="page1-box1">
                                <figure class="page1-img1"><img src="{% static 'images/page1-img3.jpg' %}" alt=""></figure>
                                <strong>paprica</strong>
                                <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                                <a class="button2" href="#">more</a>
                                <a class="link1" href="#">view all</a>
                                <div class="clear"></div>
                            </div>
                          </div>
                        </article>
                    </article>
                    <div class="clear"></div>
                </div>
                <div class="p9">
                	<article class="grid_8">
                    	<div class="inner-block">
                        <div class="page1-box2">
                            <span class="text2">best products!</span>  <span class="text3">always fresh and clean!</span>
                            <p>Simili que sunt in culpaqui officia mos deserunt mollitia animid estder laborum et dolorum fugharum quidemed rerum facilis est.</p>
                            <span class="text4">Michael Mc’Allan.</span>   <span class="text5">General director </span>
                        </div>
                      </div>
                    </article>
                     <article class="grid_4">
                        	<div class="inner-block">
                                <div class="page1-box3">
                                    <a class="button3" href="#">get in <br />touch</a>
                                    <a class="button4" href="#">clients <br />say</a>
                                <div class="clear"></div>
                            </div>
                          </div>
                     </article>
                     <div class="clear"></div>
                </div>
                	<article class="grid_5">
                    <div class="inner-block">
                      <h2 class="main_h2">our pledge</h2>
                        <div class="page1-box4">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit redo. Sed do eiusmodeste tempor incididunt ut labore et doloresi magna aliqua. Ut enim ad minim astum veniam, quis nostrud. </p>
                            <ul class="list2 p34">
                                <li><a href="#">Dlaboris nisi ut aliquip massa estumodes dolore</a></li>
                                <li><a href="#">Ex ea commodo consequatin voluptate velit esse</a></li>
                                <li><a href="#">Dugiat nulla pariatur excepteur sint occaecat</a></li>
                            </ul>
                            <a class="button2" href="#">more</a>
                          </div>
                    </div>
                    </article>
                    <article class="grid_6 prefix_1">
                    <div class="inner-block">
                      <h2 class="main_h2">news &amp; events</h2>
                        <div class="posrel">
                          <div class="carousel-div">
                            <ul class="carousel">
                              <li>
                                  <div class="page1-box5">
                                      <div class="inner1">
                                          25
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Est omnis dolore sereleduse</a>
                              <p>Qibdameto aurerumoms odes necessitatibus saepem eveniet taque earumumel rerum sapiravi. Reiciendis vptati buassom maiores alias. Asperiores repellat. </p>
                                      </div>
                                  </div>
                                  <div class="page1-box5 p11">
                                      <div class="inner1">
                                          20
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Massa eserele duse mpquibda meto </a>
                              <p>Aurerumoms odes necessitatibus saepem eveniet que earumumel rerum hic tenetura sapiravi.Reiciendptati buassom maiores alias. Asperiores repellat.        </p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="page1-box5">
                                      <div class="inner1">
                                          25
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Est omnis dolore sereleduse</a>
                              <p>Qibdameto aurerumoms odes necessitatibus saepem eveniet taque earumumel rerum sapiravi. Reiciendis vptati buassom maiores alias. Asperiores repellat. </p>
                                      </div>
                                  </div>
                                  <div class="page1-box5 p11">
                                      <div class="inner1">
                                          20
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Massa eserele duse mpquibda meto </a>
                              <p>Aurerumoms odes necessitatibus saepem eveniet que earumumel rerum hic tenetura sapiravi.Reiciendptati buassom maiores alias. Asperiores repellat.        </p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="page1-box5">
                                      <div class="inner1">
                                          25
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Est omnis dolore sereleduse</a>
                              <p>Qibdameto aurerumoms odes necessitatibus saepem eveniet taque earumumel rerum sapiravi. Reiciendis vptati buassom maiores alias. Asperiores repellat. </p>
                                      </div>
                                  </div>
                                  <div class="page1-box5 p11">
                                      <div class="inner1">
                                          20
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Massa eserele duse mpquibda meto </a>
                              <p>Aurerumoms odes necessitatibus saepem eveniet que earumumel rerum hic tenetura sapiravi.Reiciendptati buassom maiores alias. Asperiores repellat.        </p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="page1-box5">
                                      <div class="inner1">
                                          25
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Est omnis dolore sereleduse</a>
                              <p>Qibdameto aurerumoms odes necessitatibus saepem eveniet taque earumumel rerum sapiravi. Reiciendis vptati buassom maiores alias. Asperiores repellat. </p>
                                      </div>
                                  </div>
                                  <div class="page1-box5 p11">
                                      <div class="inner1">
                                          20
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Massa eserele duse mpquibda meto </a>
                              <p>Aurerumoms odes necessitatibus saepem eveniet que earumumel rerum hic tenetura sapiravi.Reiciendptati buassom maiores alias. Asperiores repellat.        </p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="page1-box5">
                                      <div class="inner1">
                                          25
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Est omnis dolore sereleduse</a>
                              <p>Qibdameto aurerumoms odes necessitatibus saepem eveniet taque earumumel rerum sapiravi. Reiciendis vptati buassom maiores alias. Asperiores repellat. </p>
                                      </div>
                                  </div>
                                  <div class="page1-box5 p11">
                                      <div class="inner1">
                                          20
                                          <span>may</span>
                                      </div>
                                      <div class="extra-wrap">
                                          <a class="link2" href="#">Massa eserele duse mpquibda meto </a>
                              <p>Aurerumoms odes necessitatibus saepem eveniet que earumumel rerum hic tenetura sapiravi.Reiciendptati buassom maiores alias. Asperiores repellat.        </p>
                                      </div>
                                  </div>
                              </li>
                              </ul>
                          </div>
                          <a href="#" class="next1"></a>
                                <a href="#" class="prev1"></a>
                          </div>
                    </div>
                    </article>

                <div class="clear"></div>
                	<article class="grid_12">
                    	<div class="inner-block">
                        <a href="#"><figure class="page1-img2"><img src="{% static 'images/page1-img4.jpg' %}" alt=""></figure></a>
                                                <a href="#"><figure class="page1-img2"><img src="{% static 'images/page1-img5.jpg' %}" alt=""></figure></a>
                                                <a href="#"><figure class="page1-img2"><img src="{% static 'images/page1-img6.jpg' %}" alt=""></figure></a>
                                               <a href="#"> <figure class="page1-img2 p12"><img src="{% static 'images/page1-img7.jpg' %}" alt=""></figure></a>
                      </div>
                    </article>
                <div class="clear"></div>
            </div>
    </section>
{% endblock content %}