{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section id="content">
    <div class="container_12">
       <div class="p22">
         <a class="link1 p31" href="#">view all</a>
         <article class="grid_12">
            <div class="inner-block">
               <h2 class="main_h2 p10">our products</h2>
            </div>
             <article class="grid_4 alpha">
            <div class="inner-block">
                <div class="page1-box1">
                    <figure class="page1-img1"><img src="{% static 'images/page4-img1.jpg' %}" alt=""></figure>
                    <strong>product name</strong>
                    <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                    <a class="button2" href="#">more</a>
                    <div class="clear"></div>
                </div>
            </div>
         </article>
             <article class="grid_4">
                 <div class="inner-block">
                     <div class="page1-box1">
                         <figure class="page1-img1"><img src="{% static 'images/page4-img2.jpg' %}" alt=""></figure>
                         <strong>product name</strong>
                         <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                         <a class="button2" href="#">more</a>
                         <div class="clear"></div>
                     </div>
                 </div>
             </article>
             <article class="grid_4 omega">
                 <div class="inner-block">
                     <div class="page1-box1">
                         <figure class="page1-img1"><img src="{% static 'images/page4-img3.jpg' %}" alt=""></figure>
                         <strong>product name</strong>
                         <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                         <a class="button2" href="#">more</a>
                         <div class="clear"></div>
                     </div>
                 </div>
             </article>
         </article>
           <div class="clear"></div>
       </div>
        <div class="p22">
            <article class="grid_12">
                <article class="grid_4 alpha">
                    <div class="inner-block">
                        <div class="page1-box1">
                            <figure class="page1-img1"><img src="{% static 'images/page4-img4.jpg' %}" alt=""></figure>
                            <strong>product name</strong>
                            <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                            <a class="button2" href="#">more</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
                <article class="grid_4">
                    <div class="inner-block">
                        <div class="page1-box1">
                            <figure class="page1-img1"><img src="{% static 'images/page4-img5.jpg' %}" alt=""></figure>
                            <strong>product name</strong>
                            <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                            <a class="button2" href="#">more</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
                <article class="grid_4 omega">
                    <div class="inner-block">
                        <div class="page1-box1">
                            <figure class="page1-img1"><img src="{% static 'images/page4-img6.jpg' %}" alt=""></figure>
                            <strong>product name</strong>
                            <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                            <a class="button2" href="#">more</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
            </article>
            <div class="clear"></div>
        </div>
        <div class="p23">
            <article class="grid_12">
                <article class="grid_4 alpha">
                    <div class="inner-block">
                        <div class="page1-box1">
                            <figure class="page1-img1"><img src="{% static 'images/page4-img7.jpg' %}" alt=""></figure>
                            <strong>product name</strong>
                            <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                            <a class="button2" href="#">more</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
                <article class="grid_4">
                    <div class="inner-block">
                        <div class="page1-box1">
                            <figure class="page1-img1"><img src="{% static 'images/page4-img8.jpg' %}" alt=""></figure>
                            <strong>product name</strong>
                            <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                            <a class="button2" href="#">more</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
                <article class="grid_4 omega p33">
                    <div class="inner-block">
                        <div class="page1-box1">
                            <figure class="page1-img1"><img src="{% static 'images/page4-img9.jpg' %}" alt=""></figure>
                            <strong>product name</strong>
                            <p class="p7">Est omnis doloresereledusempquibdameto aure rumoms odes necessitatibus saepem eveniet estude.susandaeItaquearumumel.  </p>
                            <a class="button2" href="#">more</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
            </article>
            <div class="clear"></div>
        </div>
    </div>
</section>
{% endblock content %}