{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section id="content">
    <div class="container_12">
        <div class="p19">
            <article class="grid_12">
                <div class="inner-block">
                    <h2 class="main_h2 p10 p18">services</h2>
                </div>
                <article class="grid_4 alpha">
                    <div class="inner-block">
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img1.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Lacinia fermen</a>
                                <p>Lorem ipsum dolor sitemen ametume lore consectetuer adipiscing elitum praesent vestibulum molestieme lacus aeneanum nonummy.</p>
                            </div>
                        </div>
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img2.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Nulla facilisi</a>
                                <p>Lorem ipsum dolor sitemen ametume lore consectetuer adipiscing elitum praesent vestibulum molestieme lacus aeneanum nonummy.</p>
                            </div>
                        </div>
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img3.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Scelerisque vitae, <br />pedeDonec</a>
                                <p>Ametume lore consectetuer adipiscing elitumen praesent vestibulum molestieme lacus aeneanum nonumm. </p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="grid_4">
                    <div class="inner-block">
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img4.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Consectetue</a>
                                <p>Lorem ipsum dolor sitemen ametume lore consectetuer adipiscing elitum praesent vestibulum molestieme lacus aeneanum nonummy.</p>
                            </div>
                        </div>
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img5.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Interdum vitae <br />dapibus ac</a>
                                <p>Ametume lore consectetuer adipiscing elitumen praesent vestibulum molestieme lacus aeneanum nonumm.  </p>
                            </div>
                        </div>
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img6.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">pulvinar</a>
                                <p>Lorem ipsum dolor sitemen ametume lore consectetuer adipiscing elitum praesent vestibulum molestieme lacus aeneanum nonummy. </p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="grid_4 omega p33">
                    <div class="inner-bloc">
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img7.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Aliquam congue <br />fermentum </a>
                                <p>Ametume lore consectetuer adipiscing elitumen praesent vestibulum molestieme lacus aeneanum nonumm.</p>
                            </div>
                        </div>
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img8.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Aenean nec </a>
                                <p>Lorem ipsum dolor sitemen ametume lore consectetuer adipiscing elitum praesent vestibulum molestieme lacus aeneanum nonummy.</p>
                            </div>
                        </div>
                        <div class="page3-box1">
                            <figure class="page3-img1"><img src="images/page3-img9.png" alt=""></figure>
                            <div class="extra-wrap">
                                <a class="link3" href="#">Pellentesque sed</a>
                                <p>Lorem ipsum dolor sitemen ametume lore consectetuer adipiscing elitum praesent vestibulum molestieme lacus aeneanum nonummy.</p>
                            </div>
                        </div>
                    </div>
                </article>
            </article>
            <div class="clear"></div>
        </div>
        <article class="grid_5">
            <div class="inner-block">
                <h2 class="main_h2">crop protection</h2>
                <div class="page3-box2">
                    <a class="link4" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit redo.</a>
                    <p class="p20">Sed do eiusmodeste tempor incididunt ut labore et doloresi magna aliqua. Ut enim ad minim astum veniam, quis nostrud. exercitation. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing </p>
                </div>
            </div>
        </article>
        <article class="grid_6 prefix_1">
            <div class="inner-block">
                <h2 class="main_h2">seeds</h2>
                <div class="page3-box2 p21">
                    <a class="link4" href="#">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer elit. </a>
                    <p class="p20">Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy  </p>
                </div>
            </div>
        </article>
        <div class="clear"></div>
        <article class="grid_5">
            <div class="inner-block">
                <h2 class="main_h2">company distribution</h2>
                <div class="page3-box2">
                    <a class="link4" href="#">Sed do eiusmodeste tempor incididunt ut labore et doloresi magna aliqua. </a>
                    <p>Ut enim ad minim astum veniam, quis nostrud. exercitation. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>
                </div>
            </div>
        </article>
        <article class="grid_6 prefix_1">
            <div class="inner-block">
                <h2 class="main_h2">micronutrient fertilisers</h2>
                <div class="page3-box2 p21">
                    <a class="link4" href="#">Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan.  </a>
                    <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque. </p>
                </div>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</section>
{% endblock content %}